// ====================== LOGBOOK SALES ======================
#logbookBody{
    margin-left: 80px;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
    height: 100vh;
    width: calc(100% - 80px);
}
