#wRepBody{
    margin-left: 80px;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
    height: 100vh;
    width: calc(100% - 80px);
    // text-align: center;

    h1{
        font-size: 50px;
        margin-top: 100px;
        text-align: center;
    }

    #wRepContainer{
        position: relative;
        top: 40%;
        transform: translate(0, -50%);
        height: 500px;

        #logbookSales{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width:600px;
            height:60px;
            letter-spacing: 10px;
            display:inline;
            font-family:Arial, "Helvetica", sans-serif;
            font-size: 20px;
            font-weight:bold;
            color:#fff;
            text-decoration:none;
            text-transform:uppercase;
            text-align:center;
            text-shadow:1px 1px 0px #37a69b;
            padding-top:6px;
            padding-left: 10px;
            margin-bottom: 30px;
            cursor:pointer;
            border: none;  
            background-color: #37a69b;
            background-image: linear-gradient(top,#3db0a6,#3111);
            border-radius: 10px;
            box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;

            &:hover{
                width:606px;
                height:62px;
                top: -2px;
                font-size: 22px;
            }

            &:active{
                width:600px;
                height:62px;
                top: 2px;
                font-size: 21px;
                box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #497a78, 0px 10px 5px #999;
            }
        }

        #totalSalesReport{
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translate(-50%, 0);
            width:600px;
            height:60px;
            letter-spacing: 10px;
            display:inline;
            font-family:Arial, "Helvetica", sans-serif;
            font-size: 20px;
            font-weight:bold;
            color:#fff;
            text-decoration:none;
            text-transform:uppercase;
            text-align:center;
            text-shadow:1px 1px 0px #37a69b;
            padding-top:6px;
            padding-left: 10px;
            margin-bottom: 30px;
            cursor:pointer;
            border: none;  
            background-color: #37a69b;
            background-image: linear-gradient(top,#3db0a6,#3111);
            border-radius: 10px;
            box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;

            &:hover{
                width:606px;
                height:62px;
                top: 98px;
                font-size: 22px;
            }

            &:active{
                width:600px;
                height:62px;
                top: 102px;
                font-size: 21px;
                box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #497a78, 0px 10px 5px #999;
            }
        }

        #summaryReport{
            position: absolute;
            top: 200px;
            left: 50%;
            transform: translate(-50%, 0);
            width:600px;
            height:60px;
            letter-spacing: 10px;
            display:inline;
            font-family:Arial, "Helvetica", sans-serif;
            font-size: 20px;
            font-weight:bold;
            color:#fff;
            text-decoration:none;
            text-transform:uppercase;
            text-align:center;
            text-shadow:1px 1px 0px #37a69b;
            padding-top:6px;
            padding-left: 10px;
            margin-bottom: 30px;
            cursor:pointer;
            border: none;  
            background-color: #37a69b;
            background-image: linear-gradient(top,#3db0a6,#3111);
            border-radius: 10px;
            box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;

            &:hover{
                width:606px;
                height:62px;
                top: 192px;
                font-size: 22px;
            }

            &:active{
                width:600px;
                height:62px;
                top: 202px;
                font-size: 21px;
                box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #497a78, 0px 10px 5px #999;
            }
        }

        #requestForPayment{
            position: absolute;
            top: 300px;
            left: 50%;
            transform: translate(-50%, 0);
            width:600px;
            height:60px;
            letter-spacing: 10px;
            display:inline;
            font-family:Arial, "Helvetica", sans-serif;
            font-size: 20px;
            font-weight:bold;
            color:#fff;
            text-decoration:none;
            text-transform:uppercase;
            text-align:center;
            text-shadow:1px 1px 0px #37a69b;
            padding-top:6px;
            padding-left: 10px;
            margin-bottom: 30px;
            cursor:pointer;
            border: none;  
            background-color: #37a69b;
            background-image: linear-gradient(top,#3db0a6,#3111);
            border-radius: 10px;
            box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;

            &:hover{
                width:606px;
                height:62px;
                top: 298px;
                font-size: 22px;
            }

            &:active{
                width:600px;
                height:62px;
                top: 302px;
                font-size: 21px;
                box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #497a78, 0px 10px 5px #999;
            }
        }

    }
}